<div *ngIf="displayTableResults" class="container" >
  <table (click)="onClick($event)"  class="table table-striped table-bordered table-hover" id="gameTable">
    <tr>
      <th>Id</th>
      <th>Gamename</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Winner</th>
    </tr>
    <tr *ngFor="let item  of myResponse" >
      <td id="{{item.ID}}">{{item.ID}}</td>
      <td id="{{item.ID}}">{{item.GameName}}</td>
      <td id="{{item.ID}}">{{item.Player1}}</td>
      <td id="{{item.ID}}">{{item.Player2}}</td>
      <td id="{{item.ID}}">{{item.Winner}}</td>
    </tr>
  </table>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Id">Id</label>
          <input type="number" class="form-control" [(ngModel)]="Id" id="Id">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="GameName">Gamename</label>
          <input type="text" class="form-control" [(ngModel)]="GameName" id="GameName" >
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Player1">Player1</label>
          <input type="text" class="form-control" [(ngModel)]="Player1" id="Player1">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Player2">Player2</label>
          <input type="text" class="form-control" [(ngModel)]="Player2" id="Player2">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Winner">Winner</label>
          <input type="text" class="form-control" [(ngModel)]="Winner" id="Winner">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hasPostError" class="container text-left">
      <h2><span class="label label-danger">Could not add item</span></h2>
  </div>
  <div *ngIf="hasPutError" class="container text-left">
      <h2><span class="label label-danger">Could not update item</span></h2>
  </div>
  <div *ngIf="hasDeleteError" class="container text-left">
      <h2><span class="label label-danger">Could not delete item</span></h2>
  </div>
  <div class="container">
      <div class="row">
          
        <div class="col-xs-1 col-xs-offset-7">
          <button (click)="post()" class="btn btn-success" >Post</button>
        </div>
          <div class="col-xs-1">
              <button (click)="put()" class="btn btn-info" >Update</button>
            </div>
            <div class="col-xs-1">
                <button (click)="delete()" class="btn btn-danger" >Delete</button>
              </div>
      </div>
    </div>
    