<div class="container">
<header>
  <ul class="nav nav-pills">
    <li role="presentation"><a [routerLink]="['']">View</a></li>
    <li role="presentation"><a [routerLink]="['search']">Search</a></li>
  </ul>
  <hr>
</header>
</div>
