<div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Id">Id</label>
          <input type="number" class="form-control" [(ngModel)]="Id" id="Id">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="GameName">Gamename</label>
          <input type="text" class="form-control" [(ngModel)]="Gamename" id="GameName" >
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Player1">Player1</label>
          <input type="text" class="form-control" [(ngModel)]="Player1" id="Player1">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Player2">Player2</label>
          <input type="text" class="form-control" [(ngModel)]="Player2" id="Player2">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="Winner">Winner</label>
          <input type="text" class="form-control" [(ngModel)]="Winner" id="Winner">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-xs-3 pull-right">
          <button (click)="search()" type="button" class="btn btn-success">Search</button>
        </div>
      </div>
      <hr>
    </div>
<div *ngIf="displayTableResults" class="container">
  <table (click)="onClick($event)" class="table table-striped table-bordered table-hover" id="gameTable">
    <tr>
      <th>Id</th>
      <th>Gamename</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Winner</th>
    </tr>
    <tr  *ngFor="let item  of myResponse" >
      <td id="{{item.ID}}">{{item.ID}}</td>
      <td id="{{item.ID}}">{{item.GameName}}</td>
      <td id="{{item.ID}}">{{item.Player1}}</td>
      <td id="{{item.ID}}">{{item.Player2}}</td>
      <td id="{{item.ID}}">{{item.Winner}}</td>
    </tr>
  </table>
</div>
<div *ngIf="notFound" class="container text-center">
    <h2><span class="label label-danger">Searched game or player not found!!!</span></h2>
</div>
